.clues {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    row-gap: 1rem;
    column-gap: 1rem;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.images {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    width: fit-content;
}

.tooltip {
    position: relative;
    border-bottom: 1px dotted rgb(0, 0, 0);
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1.5rem;
}

.tooltiptext {
    visibility: hidden;
    color: #fff;
    text-align: center;
    padding: 0.5rem 0.1rem;
    border-radius: 1rem;
    z-index: 2;
    text-align: center;
    font-size: 0.8rem;
    position: absolute;
    width: 50vw;
    background-color: black;
    bottom: 25px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip:hover {
    cursor: pointer;
}

.button {
    cursor: pointer;
    outline: none;
    background-color: white;
    border: 1px solid #000;
    border-radius: 0.3rem;
    color: #000;
    padding: 0.2rem 0.5rem;
    font-size: 1rem;
    width: 20vw;
}

.button:hover {
    color: #fff;
    background-color: #6051d0;
}

.button:hover::before {
    content: "Yes";
}

.button:hover .buttonText {
    display: none;
}

.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 0.5rem;
}

@media (max-width: 600px) {
    .clues {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .tooltiptext {
        width: 80vw;
        bottom: 20px;
    }
}
